<div *ngIf="carpet" class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{carpet.thumbnailImageUrl}}"  class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{carpet.state}} {{carpet.lengthMm}}x{{carpet.widthMm}}</h5>
        <p class="card-text">{{carpet.state}} {{carpet.lengthMm}}x{{carpet.widthMm}}</p>
        <p class="card-text">{{carpet.details}}</p>
        <p class="card-text">{{carpet.thumbnailImageUrl}}</p>
        <p class="card-text">{{carpet.fullsizeImageUrl}}</p>
        <p class="card-text">{{carpet.arReady}}</p>
        <p class="card-text">{{carpet.threeD_urlAndroid}}</p>
        <p class="card-text"><small class="text-muted">ID: {{carpet.id}}</small></p>
        <button *ngIf="carpet.arReady" type="button" class="btn btn-outline-primary btn-sm">Test carpet in AR (camera needed)</button>
        <button (click)="back()" type="button" class="btn btn-outline-secondary btn-sm float-right">Back</button>
        <div *ngIf="carpet.arReady">
          <model-viewer [src]="carpet.threeD_urlAndroid" ar ar-scale="fixed" ar-modes="webxr scene-viewer quick-look" camera-controls alt="A product"></model-viewer>
        </div>
        </div>
      <nav><a [href]=carpet.threeD_urlIOS>USDZ-Link S3</a></nav>
    </div>
  </div>
</div>
